/* style.css */

* Cards media queries */
@media (max-width: 800px) {
  .cards {
    grid-template-columns: 1fr;
  }
  
  .card-white {
    width: auto;
  }
}
  
/* Container media queries */
@media (min-width: 500px) {
  .container {
    width: 400px;
  }
}


@media (min-width: 800px) {
  .container {
    width: 600px;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 800px;
  }


body {
  font-family: Overpass;
  color: #88A051;
  font-size: 18px;
}

h1, h2, h3 {
  color:#88A051;
  font-family: Chivo;
}

p {
  color:#88A051;
  font-weight: bold;
  text-decoration: none;
  transition: .3s;
}

.banner {
	background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('images/beach.jpg');
	background-size: cover;
	background-position: center;
	padding: 150px 0;
	text-align: center;
}

.banner h1 {
	color: #E26F26;
	font-size: 45px;
	margin:0;
}

.banner p{
	color: #88A051;
	font-size: 24px;
}

.button-orange {
	background-color:#E26F26;
	color: white;
	padding: 20px 40px;
	border-radius: 4px
	display: inline-block
	text-decoration: none
	transition: .3s;
}

.button-orange:hover {
	background-color: #E26F26;
  color: white;
}

.card-white {
  background: white;
  box-shadow: 0 0 12px rgba(0,0,0,0.1);
  border-radius: 4px;
  width: 300px;
  text-align: center;
  padding: 24px;
  margin: 8px;
}

.card-white img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 4px;
}

.card-white h3 {
  margin-bottom: 0;
}

.footer {
  background: #404042;
  text-align: center;
  padding: 100px 0;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 6px;
}

}/* Write some CSS below */
